@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300&family=Quicksand:wght@500&family=Sarabun:wght@400;500;700;800&display=swap");
:root {
  --max-width: 1100px;
  --border-radius: 12px;

 --color-primary: #fd4a4a;
  --color-secondary: #25252a;
  --color-text: #fd4a4a;
  --color-accent: #25252a;
  --color-4914b90: #343742;
  --color-whitish: #fff;
  --color-2d25a48: #fff;
  --color-f71081a: #141414;
  --color-0f9779a: #dcdcdc;

  --color--black: #000000;
  --color--cyan-bluish-gray: #abb8c3;
  --color--white: #ffffff;
  --color--pale-pink: #f78da7;
  --color--vivid-red: #cf2e2e;
  --color--luminous-vivid-orange: #ff6900;
  --color--luminous-vivid-amber: #fcb900;
  --color--light-green-cyan: #7bdcb5;
  --color--vivid-green-cyan: #00d084;
  --color--pale-cyan-blue: #8ed1fc;
  --color--vivid-cyan-blue: #0693e3;
  --color--vivid-purple: #9b51e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 62.5%;
  
}



body {
  font-size: 1.6rem;
  /*  background-color: var(--color--cyan-bluish-gray);
  */
  font-family: "Quicksand", "Sarabun", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;

}